* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../imagens/minecraft\ fundo\ ....jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.fundo2{
  background-image: url(../imagens/fundo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

#fundo3{
  background-image: url(../imagens/fundo3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


#cabecalho {
  background: linear-gradient(#212222, #0000003b);
  z-index: 1;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
}

#cabecalho #menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cabecalho #logo {
  display: block;
  width: 250px;
  
}

#cabecalho #menu ul {
  display: flex;
  list-style: none;
  font-family: 'Minecraft', sans-serif;
}

#cabecalho #menu a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s linear;
  padding: 20px;
}

#cabecalho #menu a:hover {
  border-radius: 10%;
  color: green;

}

#menu .cx1 {
  font-size: 18px;
}

#menu .cx2 {
  font-size: 18px;
}

#entrada {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}

#entrada #bem_vindos h1 {
  color: #ffffff;
  font-family: 'Minecraft', sans-serif;
  font-size: 52px;
  margin-bottom: 30px;
}

#entrada #bem_vindos p{
  margin-bottom: 30px;
  color: #FFF;
  font-size: 20px;
}

#entrada #bem_vindos #baixar {
  color: #ffffff;
  background-color: #006e00;
  border: solid 1px;
  padding: 25px 45px;
  font-family: 'Minecraft', sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  transition: .1s linear;
  max-width: 300px;
  display: block;
}

#entrada #bem_vindos #baixar:hover {
  background-color: rgb(43, 43, 43);
  box-shadow: 0px 0px 10px rgb(10, 10, 185);
}

#entrada #banners .bx-wrapper  {
  border-color: #006e00;
  box-shadow: 0px 0px 10px rgb(33, 161, 7);
}

.container #dicas {
  color: #ffffff;
  background-color: #7575754d;
  border-radius: 20px 0px;
  padding: 20px;
  margin-bottom: 50px;
  text-align: justify;
}

.container #dicas .titulo_secao {
  font-size: 32px;
  font-family: 'Minecraft', sans-serif;
  margin-bottom: 25px;
  color: #ffffff;
}

#dicas #zumbi_galinha {
  max-width: 150px;
  float: right;
  margin-top: -70px;
}

#entrada_historia{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-bottom: -30px;
  margin-top: 120px;
  position: relative; 
}

#entrada_historia img{
  border-radius: 20px;
  width: 100%;
  height: auto; 
}

#entrada_historia #pagina1_historia_minecraft{
  margin-top: 85px;
}

#entrada_historia #pagina1_historia_minecraft h1{
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Minecraft', sans-serif;
  bottom: 525px;
  left: 125px;
  position: absolute;
  text-decoration: underline;
}

#entrada_historia #pagina1_historia_minecraft #introducao{
  width: 390px;
  height: auto; 
  text-align: justify;
  left: 75px;
  bottom: 390px;
  position: absolute; 
}

#entrada_historia #pagina1_historia_minecraft #desenvolvimento_1{
  width: 390px;
  height: auto; 
  text-align: justify;
  left: 75px;
  bottom: 200px;
  position: absolute;
}

#entrada_historia #pagina2_historia_minecraft #desenvolvimento_2{
  width: 390px;
  height: auto; 
  text-align: justify;
  position: absolute;
  bottom: 440px;
  left: 525px;
}

#entrada_historia #pagina2_historia_minecraft #conclusao{
  width: 390px;
  height: auto; 
  text-align: justify;
  position: absolute;
  left: 525px;
  bottom: 150px;
}

#entrada_historia #crystal{
  position: absolute ;
  max-width: 55px;
  bottom: 600px;
  left: 870px;
}

#entrada_modos{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#entrada_modos #introducao_modos{
  color: #ffffff;
  width: 800px;
  height: 130px;
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom: 1470px;
}

#entrada_modos #introducao_modos h1{
  font-family: 'Minecraft', sans-serif;
  margin-bottom: 20px;
  font-size: 52px;
}

#entrada_modos #introducao_modos p{
  font-size: 20px;
}

#entrada_modos #texto_site{
  margin-bottom: 20px;
  margin-top: 30px;
  height: 1070px;
  position: absolute;
}

#entrada_modos #introducao_modos h2{
  font-size: xx-large;
  font-family: 'Minecraft', sans-serif;
  margin-bottom: 20px;
}

#entrada_modos #introducao_modos #paragrafo_sobrevivencia{
  font-size: 17px;
  background-color: #7575754d;
  border-radius: 20px 0px;
  text-align: justify;  
  padding: 20px;
  width: 450px;
  height: auto;
}

#entrada_modos #introducao_modos #steve_cavalo{
  position: relative;
  bottom: 310px;
  left: 450px ;
  max-width: 350px;
  height: 300px;
  transition: all 0.3s linear;
}

#entrada_modos #introducao_modos #steve_cavalo:hover{
  transform: scale(1.1);
}

#entrada_modos #introducao_modos #criativo{
  position: relative;
  bottom: 270px;  
}

#entrada_modos #introducao_modos #paragrafo_criativo{
  font-size: 17px;
  background-color: #7575754d;
  border-radius: 20px 0px;
  text-align: justify;  
  padding: 20px;
  width: 450px;
  height: auto;
  position: relative;
  bottom: 270px;
}

#entrada_modos #introducao_modos #smile_carrinho{
  position: relative;
  bottom: 550px;
  left: 490px ;
  max-width: 350px;
  height: 250px;  
  transition: all 0.3s linear;
}

#entrada_modos #introducao_modos #smile_carrinho:hover{
  transform: scale(1.1);
}

#entrada_modos #introducao_modos #adventure{
  position: relative;
  bottom: 470px;  
}

#entrada_modos #introducao_modos #paragrafo_adventure{
  font-size: 17px;
  background-color: #7575754d;
  border-radius: 20px 0px;
  text-align: justify;  
  padding: 20px;
  width: 450px;
  height: auto;
  position: relative;
  bottom: 470px;  
  transition: all 0.3s linear;
}

#entrada_modos #introducao_modos #steve_alex{
  position: absolute;
  bottom: 40px;
  left: 490px ;
  max-width: 350px;
  height: 270px;
  transition: all 0.3s linear;
}

#entrada_modos #introducao_modos #steve_alex:hover{
  transform: scale(1.1);
}

#entrada_modos #introducao_modos #espectador{
  position: relative;
  bottom: 440px;  
}

#entrada_modos #introducao_modos #paragrafo_espectador{
  font-size: 17px;
  background-color: #7575754d;
  border-radius: 20px 0px;
  text-align: justify;  
  padding: 20px;
  width: 450px;
  height: auto;
  position: absolute;
  top: 1130px;
}

#entrada_modos #introducao_modos #blaze{
  position: absolute;
  bottom: 35px;    
  left: 550px;
  max-width:350px;
  height: 250px;
  transition: all 0.3s linear;
}

#entrada_modos #introducao_modos #blaze:hover{
  transform: scale(1.1);
}

.container #dicas_modos .titulo_secao {
  font-size: 32px;
  font-family: 'Minecraft', sans-serif;
  margin-bottom: 25px;
  color: #ffffff;
}


.container #dicas_modos{
  color: #ffffff;
  background-color: #7575754d;
  border-radius: 20px 0px;
  padding: 20px;
  margin-bottom: 50px;
  text-align: justify;
}

.container #dicas_modos #picareta{
  width: 120px;
  float: right;
  margin-top: -50px;
  margin-left: 20px;
}

#personagens #entrada_personagens img{
  width: 1150px;
  height: 500px;
  max-width: 100%;
  margin-bottom: 50px;
  position: relative;
}


#personagens #entrada_personagens{
  position: relative;
}

#personagens #entrada_personagens h2{
   display: flex;
   justify-content: center;
   margin-top: 100px;
   font-family: 'Minecraft', sans-serif;
   font-size: 80px;
   margin-bottom: 30px;
   color: #ffffff;
}

#personagens #entrada_personagens #card1{
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: auto;
  border-radius: 20px 0px;
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
  position: absolute;
  left: 60px;
  bottom: 40px;
  transition: all 0.3s linear;
}

#personagens #entrada_personagens #card1:hover{
  transform: scale(1.1);
}

#personagens #entrada_personagens h3{
  font-family: 'Minecraft', sans-serif;
  font-size: x-large;
}

#personagens #entrada_personagens #steve{
  width: 85px;
  margin-top: 10px;
  height: auto;
}

#personagens #entrada_personagens #card2{
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: auto;
  border-radius: 20px 0px;
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
  position: absolute;
  left: 450px;
  bottom: 40px;
  transition: all 0.3s linear;
}


#personagens #entrada_personagens #card2:hover{
  transform: scale(1.1);
}

#personagens #entrada_personagens #alex{
  width: 156px;
  margin-right: 60px;
  height: auto;
}

#personagens #entrada_personagens #card3{
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: auto;
  border-radius: 20px 0px;
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
  position: absolute;
  left: 840px;
  bottom: 40px;
  transition: all 0.3s linear;
}

#personagens #entrada_personagens #card3:hover{
  transform: scale(1.1);
}

#personagens #entrada_personagens #herobrine{
  width: 94px;
  height: auto;
  margin-top: 10px;
  height: auto;
}

#videos #titulo_videos{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 90px;
  font-size: 70px;
  color: #fff;
  font-family: 'Minecraft', sans-serif;
}

#videos .container{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

#videos .container iframe{
  width: 100%;
}

#rodape{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  color: #fff;
}

#rodape .texto_rodape{
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: 'Minecraft', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
}

#rodape .centro{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 0.6%;
  padding-left: 0.2%;
}

